body {
    background-color: lightgrey;
    margin: 0;
}

footer {
    background-color: #5C5A6F;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 15px;
    font-size: 12px;
}

h1 {
    font-size: 40px;
    font-family: 'Droid Serif', serif;

}

h2 {
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

#title {
    background-color: #234178;
    padding: 50px;
    margin: 0;
}

#section_summary {
    background-color: white;
    border-radius: 10px;
    border-spacing: 0;
    box-shadow: 2px 2px 10px #808080;
    padding-right: 30px;
    margin: 50px auto 50px auto;
    max-width: 800px;
    line-height: 150%;
}

#section_projects {
    background-color: #849AC4;
    padding: 30px;
    margin: 50px auto 50px auto;
    max-width: 800px;
    border-radius: 10px;
    border-spacing: 0;
    box-shadow: 2px 2px 10px #808080;
    line-height: 150%;
}

#section_resume {
    background-color: #849AC4;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #808080;
    padding: 30px;
    margin: 50px auto 50px auto;
    max-width: 800px;
}

#project {
    background-color: white;
    padding: 25px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 10px #808080;
}

#divBgWhite {
    background-color: white;
    padding: 25px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 10px #808080;
}


#regular_list {
    font-family: 'Source Sans Pro', sans-serif;
}

#courseware_wrapper {
    line-height: 100%;
}

.horizontalNav li {
    display: inline-block;
    margin: 0;
    padding: 10px 0 10px 0;
    vertical-align: central;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
}

.horizontalNav a:link {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.horizontalNav a:visited {
    color: white;
    text-decoration: none;
}

.horizontalNav a:active {
    color: gray;
    background-color: dimgray;
    text-decoration: none;
}

.horizontalNav a:hover {
    color: white;
    background-color: #38568C;
    text-decoration: none;
}

a.normal_link {
    color: black;
    text-decoration: none;
}

/* As hex codes */

.color-primary-0 {
    color: #38568C;
}
/* Main Primary color */
.color-primary-1 {
    color: #849AC4;
}

.color-primary-2 {
    color: #5570A3;
}

.color-primary-3 {
    color: #234178;
}

.color-primary-4 {
    color: #112C5F;
}

.color-secondary-1-0 {
    color: #C6435A;
}
/* Main Secondary color (1) */
.color-secondary-1-1 {
    color: #F49CAC;
}

.color-secondary-1-2 {
    color: #E66C82;
}

.color-secondary-1-3 {
    color: #AA243C;
}

.color-secondary-1-4 {
    color: #860C21;
}

.color-secondary-2-0 {
    color: #CED247;
}
/* Main Secondary color (2) */
.color-secondary-2-1 {
    color: #FCFEA2;
}

.color-secondary-2-2 {
    color: #F0F473;
}

.color-secondary-2-3 {
    color: #B0B426;
}

.color-secondary-2-4 {
    color: #8B8E0C;
}

.horizontalNav {
    margin: 0;
    background-color: #000000;
    padding: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    box-shadow: 2px 2px 10px #000000;
    z-index: 9999;
}

@media screen and (max-width: 826px) {
    p {
        font-size: 12px;
    }

    h1 {
        font-size: 30px;
        line-height:120%
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 12px;
    }

    li {
        font-size: 12px;
    }

    .horizontalNav {
        margin: 0;
        background-color: #000000;
        padding: 0;
        position: fixed;
        overflow: hidden;
        top: 0;
        width: 100%;
        box-shadow: 2px 2px 10px #000000;
        z-index: 9999;
    }

        .horizontalNav li {
            display: inline-block;
            margin: 0;
            padding: 10px 0 10px 0;
            vertical-align: central;
            float: right;
            list-style: none;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 12px;
        }

    #title {
        background-color: #234178;
        padding: 30px;
        margin: 0;
    }

    #section_summary {
        background-color: white;
        border-radius: 20px;
        border-spacing: 0;
        box-shadow: 2px 2px 10px #AAC7AA;
        padding-right: 10px;
        margin: 10px;
    }

    #section_projects {
        background-color: #849AC4;
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
        border-spacing: 0;
        box-shadow: 2px 2px 10px #808080;
    }

    #section_resume {
        background-color: #849AC4;
        border-radius: 20px;
        box-shadow: 2px 2px 10px #808080;
        padding: 10px;
        margin: 10px;
    }

    #divBgWhite {
        background-color: white;
        padding: 10px;
        margin-bottom: 40px;
        /*border-radius: 20px;*/
        box-shadow: 2px 2px 10px #808080;
    }

    .img_responsive {
        width: 100%;
        height: auto;
    }

    .videowrapper {
        float: none;
        clear: both;
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
    }

        .videowrapper iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
}
