body {
    background-color: lightgray;
    margin: 0;
}

#title {
    background-color: #404040;
    padding: 50px;
    margin: 0;
}

#section_summary {
    background-color: white;
    border-radius: 20px;
    border-spacing: 0;
    box-shadow: 2px 2px 10px #808080;
    padding-right: 30px;
    margin: 30px;
}

#section_projects {
    background-color: lightsteelblue;
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
    border-spacing: 0;
    box-shadow: 2px 2px 10px #808080;
}

#section_resume {
    background-color: #7dbd5b;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #808080;
    padding: 30px;
    margin: 30px;
}

#divBgWhite {
    background-color: white;
    padding: 25px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #808080;
}

h1 {
    font-size: x-large;
    font-family: 'Slabo 27px', serif;
}

h2 {
    font-size: larger;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: medium;
    font-family: 'Open Sans', sans-serif;
}

#horizontalNav {
    margin: 0;
    background-color: #404040;
    padding: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    box-shadow: 2px 2px 10px #404040;
}

    #horizontalNav li {
        display: inline-block;
        margin: 0;
        padding: 15px;
        vertical-align: central;
        list-style: none;
        font-family: 'Roboto', sans-serif;
    }

    #horizontalNav a:link {
        color: white;
        text-decoration: none;
        padding: 20px;
    }

    #horizontalNav a:visited {
        color: white;
        text-decoration: none;
    }

    #horizontalNav a:active {
        color: gray;
        background-color: dimgray;
        text-decoration: none;
    }

    #horizontalNav a:hover {
        color: white;
        background-color: dimgray;
        text-decoration: none;
    }

#project {
    background-color: white;
    padding: 25px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 10px #808080;
    border-radius: 20px;
}

#regular_list {
    font-family: 'Open Sans', sans-serif;
}

a.normal_link {
    color: black;
    text-decoration: none;
}

footer {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 15px;
}
